<!DOCTYPE html>
<html>
<head>
	<title>INSCRIPTION</title>
</head>
<body>
	<header>
		<nav class="nav nav-pills nav-fill">
			<a class="nav-item nav-link" href="/">Accueil</a>
			<% if logged_in? %>
				<%= link_to "LOG OUT", "/logout", method: :delete, class: 'nav-link nav-item' %>
			<% else %>
				<a class="nav-item nav-link active" href="/new">Inscription</a>
				<%= link_to "Se connecter", "/login", class: 'nav-link nav-item' %>
			<% end %>
		</nav>
	</header>

	<div class="jumbotron">
		<h1>Inscrit toi donc !</h1>

		<form action="/new" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<label>Prenom: (min 2) </label>
			<input type="text" name="first_name" class="form-control">

			<label>Nom: (min 2) </label>
			<input type="text" name="last_name" class="form-control">

			<label>Email: </label>
			<input type="text" name="email" class="form-control">

			<br>
			<input type="submit" name="Envoyer" value="S'inscrire" class="btn btn-lg btn-success">
		</form>
	</div>
</body>
</html>