<!DOCTYPE html>
<html>
<head>
	<title>SECRET PAGE</title>
</head>
<body>
	<header>
		<nav class="nav nav-pills nav-fill">
			<a class="nav-item nav-link active" href="/">Accueil</a>
			<% if logged_in? %>
				<%= link_to "LOG OUT", "/logout", method: :delete, class: 'nav-link nav-item' %>
			<% else %>
				<a class="nav-item nav-link" href="/new">Inscription</a>
				<%= link_to "Se connecter", "/login", class: 'nav-link nav-item' %>
			<% end %>
		</nav>
	</header>

	<div class="jumbotron">
		<ul>
			<% @tab_users.each do |user| %>
				<li> <%= user.first_name+ ' ' +user.last_name+ ' = ' +user.email %></li>
			<% end %>
		</ul>
	</div>

</body>
</html>